clubdata/__pycache__/__init__.cpython-38.pyc
clubdata/__pycache__/settings.cpython-38.pyc
clubdata/__pycache__/urls.cpython-38.pyc
clubdata/__pycache__/wsgi.cpython-38.pyc
clubdata/main/__pycache__/__init__.cpython-38.pyc
clubdata/main/__pycache__/admin.cpython-38.pyc
clubdata/main/__pycache__/apps.cpython-38.pyc
clubdata/main/__pycache__/models.cpython-38.pyc
clubdata/main/__pycache__/serializers.cpython-38.pyc
clubdata/main/__pycache__/urls.cpython-38.pyc
clubdata/main/__pycache__/views.cpython-38.pyc
clubdata/main/management/commands/__pycache__/import_historic_data.cpython-38.pyc
clubdata/main/migrations/__pycache__/0001_initial.cpython-38.pyc
clubdata/main/migrations/__pycache__/__init__.cpython-38.pyc
clubdata/main/views.py
clubdata/settings.py
clubdata/wsgi.py
frontend/package.json
frontend/public/favicon.ico
frontend/public/index.html
frontend/public/logo192.png
frontend/public/logo512.png
frontend/public/manifest.json
frontend/public/robots.txt
frontend/src/App.css
frontend/src/App.js
frontend/src/App.test.js
frontend/src/index.css
frontend/src/index.js
frontend/src/logo.svg
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
gunicorn.conf.py
manage.py
requirements.txt
.env
__pycache__/
england.csv
frontend/README.md
frontend/package-lock.json
